<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="//unpkg.com/element-ui@2.11.0/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

</head>
<body class="main">
<div id="app" v-loading="loading">


<el-row >
    <el-col :span="24">
        <h2>bsportfan网球比赛</h2>
    </el-col>
    <el-col :span="24">
        <div class="grid-content bg-purple">
            <el-date-picker
                    v-model="dateStr"
                    type="date"
                    format="yyyy-MM-dd"
                    value-format="yyyy-MM-dd"
                    placeholder="选择日期">
            </el-date-picker>
            <el-button type="primary" @click="getDate">爬取网球比赛信息</el-button>
            <span><a href="http://45.32.176.33:8081/" target="_blank">===Log=== </a></span>
            <el-dialog :visible.sync="visible" title="Message">
                <p>{{resMsg}}</p>
            </el-dialog>
        </div>
        <div>
            <span>已选择日期: {{dateStr}}</span>
        </div>
    </el-col>
</el-row>

<el-row>
    <el-col :span="24">
        <div class="grid-content bg-purple-light">
            <span class="el-icon-document-copy"></span>
            文件列表：
            <ol>
                <li v-for="file in fileList">
                    <a :href="'excel/download/'+ file.name">{{ file.name }}</a>
                    <span style="padding-left: 20px">{{dateFormat1(file.modifyDate)}}</span>
                </li>
            </ol>

           <!--<el-table
                    :data="fileList"
                    stripe
                    style="width: 100%">
                <el-table-column
                        :formatter="filenameFormatter"
                        prop="name"
                        label="文件名"
                        width="180">
                </el-table-column>
                <el-table-column
                        :formatter="filesize"
                        prop="size"
                        label="文件大小(k)"
                        width="180">
                </el-table-column>
                <el-table-column
                        :formatter="dateFormat"
                        prop="modifyDate"
                        label="更新时间">
                </el-table-column>
            </el-table>-->

           <!-- <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>-->
        </div>
    </el-col>

</el-row>

</div>
</body>



<script>
    Vue.prototype.$http = axios;
    var app = new Vue({
        el: '#app',
        data: {
            dateStr: '',
            message: 'Hello Vue!',
            resMsg: '',
            loading: false,
            visible: false,
            log: '',
            fileList: [],
            todos: [
                { text: '学习 JavaScript' },
                { text: '学习 Vue' },
                { text: '整个牛项目' }
            ],
            timmer: '',
        },
        created: function () {
            // `this` 指向 vm 实例
            // this.timer = setInterval(this.listDir, 2000);
            this.listDir();
        },
        beforeDestroy: function () {
            // clearInterval(this.timer);
        },

        methods: {

            dateFormat1:function(date){
                var t=new Date(date);//row 表示一行数据, updateTime 表示要格式化的字段名称
                return t.getFullYear()+"-"+(t.getMonth()+1)+"-"+t.getDate()+" "+t.getHours()+":"+t.getMinutes()+":"+t.getSeconds();
            },
            dateFormat:function(row,column){
                var t=new Date(row.modifyDate);//row 表示一行数据, updateTime 表示要格式化的字段名称
                return t.getFullYear()+"-"+(t.getMonth()+1)+"-"+t.getDate()+" "+t.getHours()+":"+t.getMinutes()+":"+t.getSeconds();
            },
            filesize:function(row,column){
                return row.size + "K";
            },
            filenameFormatter: function(row, column) {
                var a = "<a href=\"excel/download/" + row.name + "\">" + row.name + "</a>";
                return a;
            },

            reverseMessage: function () {
                this.message = this.message.split('').reverse().join('')
            },
            test:function(){
                console.info(this.dateStr);
            },
            getDate: function () {
                console.info('date:' + this.dateStr);
                if (this.dateStr === '') {
                    this.resMsg = "日期不能为空！";
                    this.visible = true;
                    return;
                }

                var vm = this;
                vm.loading = true;
                this.$http.get('/rest/history/' + this.dateStr,{},{timeout: 200000})
                    .then(function (response) {
                        var res = response.data;
                        console.info('res:' + res);
                        vm.loading = false;

                        if (res.code == 0){
                            this.listDir();
                        }else {

                        }
                    })
                    .catch(function (reason) {
                        vm.resMsg = "出错了！";
                        vm.visible = true;
                        vm.loading = false;
                    });
            },
            listDir: function () {
                var vm = this;
                this.$http.get('/rest/list-dir')
                    .then(function (response) {
                        console.info(response.data.data);
                        var data = response.data.data;
                        for (var i = 0;i< data.length; i++ ) {
                            console.info(data[i]);
                            vm.fileList.push(data[i]);
                        }
                        console.info('list dir' + vm.fileList);
                    })
                    .catch(function (error) {
                        vm.resMsg = "出现错误了";
                        vm.visible = true;
                    });
            },

        }
    })


</script>
</html>